doctype html
html
    head
        title Re:Dive Gotcha - !{ page }
        link(rel="shortcut icon", href="/static/images/sticker.png", type="image/png")
        link(rel="stylesheet" href=`/static/css/${page}.css`)
    body
        #main
            form#board(action="/settings" method="POST")
                each char, i in charList
                    -var frameClass = { 1: "blue", 2: "gold", 3:"rainbow" }
                    -var imgGrayScale = char.inPool ? "" : "grayscale"
                    -var showRateUp = char.star === 3
                            
                    .card
                        .frame(class=frameClass[char.star] class=imgGrayScale)
                            img(src=`/static/images/card/${char.name}.png`)
                        .name
                            strong !{ char.name.replace("（", "<br/>（") }
                        .footer
                            | 機率 !{ char.prob.normal } %
                            br
                            | (第10抽 !{ char.prob.last} %)
                            br
                            label
                                input.in-pool(type="checkbox" name=`inPool[${char.name}]` checked=char.inPool)
                                | 卡池啟用
                            br
                            if showRateUp
                                label
                                    input.rate-up(type="checkbox" name=`rateUp[${char.name}]` checked=char.rateUp)
                                    | 機率提升
                input.update(type="submit", value="更新")

        script(src=`/static/js/${page}.js`)
        